harjutustunnid/Harjutustund3/Ylesanne3/Service References/OISTeenus/Teenus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://idu0075.ttu.ee/iabb111881/ois/teenus" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://idu0075.ttu.ee/iabb111881/ois/teenus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://idu0075.ttu.ee/iabb111881/ois/teenus">
      <s:element name="GetTunniplaan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nimi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matrikliNr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTunniplaanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTunniplaanResult" type="tns:ArrayOfTund" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTund">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tund" nillable="true" type="tns:Tund" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tund">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AineNimi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ÕppejõuNimi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RuumiNr" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTunniplaanSoapIn">
    <wsdl:part name="parameters" element="tns:GetTunniplaan" />
  </wsdl:message>
  <wsdl:message name="GetTunniplaanSoapOut">
    <wsdl:part name="parameters" element="tns:GetTunniplaanResponse" />
  </wsdl:message>
  <wsdl:portType name="TeenusSoap">
    <wsdl:operation name="GetTunniplaan">
      <wsdl:input message="tns:GetTunniplaanSoapIn" />
      <wsdl:output message="tns:GetTunniplaanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeenusSoap" type="tns:TeenusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTunniplaan">
      <soap:operation soapAction="http://idu0075.ttu.ee/iabb111881/ois/teenus/GetTunniplaan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TeenusSoap12" type="tns:TeenusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTunniplaan">
      <soap12:operation soapAction="http://idu0075.ttu.ee/iabb111881/ois/teenus/GetTunniplaan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Teenus">
    <wsdl:port name="TeenusSoap" binding="tns:TeenusSoap">
      <soap:address location="http://localhost/IDU0075/H3Y2/Teenus.asmx" />
    </wsdl:port>
    <wsdl:port name="TeenusSoap12" binding="tns:TeenusSoap12">
      <soap12:address location="http://localhost/IDU0075/H3Y2/Teenus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>